[Desktop Entry]
Type=Application
Name={{{name}}}
{{#if comment}}
Comment={{{comment}}}
{{/if}}
# Workaround for WebKitGTK 2.50+ EGL display bug on Wayland
# See: https://github.com/tauri-apps/tauri/issues/11988
# See: https://bugs.webkit.org/show_bug.cgi?id=280239
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 {{{exec}}}
Icon={{{icon}}}
Terminal=false
Categories={{{categories}}}
# Matched against the Wayland app_id / X11 class, which Tauri sets from the
# binary name: keep the exec variable here, the name variable does not match.
StartupWMClass={{{exec}}}
