[Desktop Entry]
Type=Application
Name={{{name}}}
{{#if comment}}
Comment={{{comment}}}
{{/if}}
# Workaround for WebKitGTK 2.50+ EGL display bug on Wayland
# See: https://github.com/tauri-apps/tauri/issues/11988
# See: https://bugs.webkit.org/show_bug.cgi?id=280239
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 {{{exec}}}
Icon={{{icon}}}
Terminal=false
Categories={{{categories}}}
# Must equal the binary name, not the product name: this is matched against
# the Wayland app_id / X11 class, which Tauri sets from the program name.
# Asserted by desktop_entry_tests::startup_wm_class_matches_the_binary_name.
StartupWMClass=better-ip-tv
